<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
	<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  
    {% if page.is_guide %}
	<script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    {% endif %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

	{% if page.post_image %}
    <header class="page-header" role="banner" style="background-image: url({{page.post_image}}); background-color: rgb(130, 114, 116); background-blend-mode: multiply;">
	{% else %}
    <header class="page-header" role="banner" style="background-image: url(/assets/bannermedium.png);">
	{% endif %}
      <h1 class="project-name">
	  {% if page.is_main %}
		{{ site.name | default: site.title | default: site.github.repository_name }}
	  {% else %}
		{{ page.title | default: site.title | default: site.github.repository_name }}
	  {% endif %}</h1>
      <h2 class="project-tagline">
	  {% if page.is_main %}
		{{ page.description | default: site.description | default: site.github.project_tagline }}
	  {% else %}
		{% if page.title %}
			{{ site.title | page.description | default: site.description | default: site.github.project_tagline }}
		{% else %}
			{{ page.description | default: site.description | default: site.github.project_tagline }}
		{% endif %}
	  {% endif %}</h2>
		<div class="site-nav">
			<div class="inner">
			  <a href="https://uncannymisc.github.io" class="link"><span>Home</span></a>
			  <a href="https://uncannymisc.github.io/about.html" class="link"><span>About</span></a>
			  <a href="{{ site.github.repository_url }}" class="link"><span>Portfolio</span></a>
			  <a href="https://uncannymisc.github.io/articles/" class="link"><span>Articles</span></a>
			  <a href="https://uncannymisc.github.io/tutorials/" class="link"><span>Tutorials</span></a>
			  <a href="https://twitter.com/UncannyMotif" class="link"><span>Twitter</span></a>
			  <a href="{{ site.github.repository_url }}" class="link"><span>Contact</span></a>
			</div>
			<span class="blc"></span><span class="trc"></span>
		</div>
    </header>
	
    <main id="content" role="main">
      <nav>
        <ul></ul>
      </nav>
	  <section class="main-content" >
		{{ content }}
	  </section>
    </main>
	  <footer class="site-footer">
		{% if site.github.is_project_page %}
		  <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
		{% endif %}
		<span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a>.</span>
	  </footer>
  </body>
</html>
